%h1 Listing results

%table
  %tr
    %th Survey
    %th User
    %th Salary
    %th Job title
    %th
    %th
    %th

  - @results.each do |result|
    %tr
      %td= result.survey_id
      %td= result.user_id
      %td= result.salary
      %td= result.job_title
      %td= link_to 'Show', result
      %td= link_to 'Edit', edit_result_path(result)
      %td= link_to 'Destroy', result, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Result', new_result_path
